
		body{
			background-color: #FF9999;
		}

		#name{
			color: #E6E6E6;
			position: absolute;
			font-family: Courier, sans-serif;	
			font-size: 30px;
			position: absolute;
			top: 106%;
		}

		#linkedin{
			position: absolute;
			top: 46%;
			right: 60%;
		}
		#twitter{
			position: absolute;
			top: 46%;
			right: 44%;
		}
		#github{
			position: absolute;
			top: 46%;
			left: 17%;
		}
		
 

